# latex related, Course
C++Course.*
!C++Course.tex
_minted*

# latex related, exercise intro
exercisesIntro.log
exercisesIntro.nav
exercisesIntro.out
exercisesIntro.snm
exercisesIntro.toc
exercisesIntro.vrb
exercisesIntro.pdf

# exercises
build
*.a
*.o
*.so
*.sol
*.sol?
exercises/*aux
exercises/callgrind/fibocrunch
exercises/control/control
exercises/loopsRefsAuto/loopsRefsAuto
exercises/operators/operators
exercises/concepts/concepts
exercises/constness/constplay
exercises/cppcheck/randomize
exercises/debug/randomize
exercises/functions/functions
exercises/helgrind/fiboMT
exercises/hello/hello
exercises/lambdas/randomize
exercises/memcheck/memleak
exercises/move/trymove
exercises/optional/optional
exercises/polymorphism/trypoly
exercises/race/racing
exercises/stl/randomize.nostl
exercises/templates/playwithsort
exercises/valgrind/randomize
exercises/variant/variant
exercises/virtual_inheritance/trymultiherit
exercises/smartPointers/smartPointers

# tools
CMakeCache.txt
CMakeFiles
cmake_install.cmake
callgrind.out.*

# just for the allcontributors cli installation...
package-lock.json
package.json
node_modules/**
