# latex related, Course
talk/*aux
talk/*/*aux
C++Course.log
C++Course.nav
C++Course.out
C++Course.snm
C++Course.toc
C++Course.vrb
C++Course.xdv
C++Course.pdf
C++Course*.vrb
C++Course.fdb_latexmk
C++Course.fls
_minted*

# latex related, exercise intro
exercisesIntro.log
exercisesIntro.nav
exercisesIntro.out
exercisesIntro.snm
exercisesIntro.toc
exercisesIntro.vrb
exercisesIntro.pdf

# exercises
build
*.a
*.o
*.so
*.sol
code/*aux
code/callgrind/fibocrunch
code/control/control
code/loopsRefsAuto/loopsRefsAuto
code/operators/operators
code/constness/constplay
code/cppcheck/randomize
code/debug/randomize
code/functions/functions
code/helgrind/fiboMT
code/hello/hello
code/lambdas/randomize
code/memcheck/memleak
code/move/trymove
code/polymorphism/trypoly
code/race/racing
code/stl/randomize.nostl
code/templates/playwithsort
code/valgrind/randomize
code/virtual_inheritance/trymultiherit
code/smartPointers/smartPointers

# tools
CMakeCache.txt
CMakeFiles
cmake_install.cmake
callgrind.out.*
