# latex related, Course
C++Course.*
!C++Course.tex
_minted*

# latex related, exercise intro
exercisesIntro.log
exercisesIntro.nav
exercisesIntro.out
exercisesIntro.snm
exercisesIntro.toc
exercisesIntro.vrb
exercisesIntro.pdf

# exercises
build
*.a
*.o
*.so
*.sol
*.sol?
code/*aux
code/callgrind/fibocrunch
code/control/control
code/loopsRefsAuto/loopsRefsAuto
code/operators/operators
code/concepts/concepts
code/constness/constplay
code/cppcheck/randomize
code/debug/randomize
code/functions/functions
code/helgrind/fiboMT
code/hello/hello
code/lambdas/randomize
code/memcheck/memleak
code/move/trymove
code/optional/optional
code/polymorphism/trypoly
code/race/racing
code/stl/randomize.nostl
code/templates/playwithsort
code/valgrind/randomize
code/variant/variant
code/virtual_inheritance/trymultiherit
code/smartPointers/smartPointers

# tools
CMakeCache.txt
CMakeFiles
cmake_install.cmake
callgrind.out.*

# just for the allcontributors cli installation...
package-lock.json
package.json
node_modules/**
