repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
    -   id: codespell
        args: ["-I", "codespell.txt"]
        types_or: ["tex", "markdown"]

exclude: '.*\.sty'

ci:
    autoupdate_schedule: monthly
